.link {
    text-decoration: none;
    color: black;
}
.link__home {
    text-decoration: none;
    color: white;
}

.link__home:hover {
    text-decoration: none;
    color: #b5895a;
    transition: 0.5s;
}